body {
  font-family: 'Raleway', sans-serif;
}
.main-container {
  padding: 3rem 1.5rem;
  text-align: center;
}

/*#drums-toggle {
	background: #ccc;
	cursor: pointer;
	border-top: solid 2px #eaeaea;
	border-left: solid 2px #eaeaea;
	border-bottom: solid 2px #777;
	border-right: solid 2px #777;
	padding: 5px 5px;       
	}
*/
.inst-toggle {
	background-color: white;
	color: black;
	border-color: #bbb;
}
.inst-toggle:hover {
	background-color: #eee;
}

.inst-toggle.active {
	/*background: #bbb;*/
	background: #3762a8;
	color: white;
}

#notes {
	border-color: white;
}

input[type=range] {
	width: 100%;
	/*margin-left: 20px;*/
}


.btn-group {
    margin-right: 1em;
    margin-bottom: 1em;
}

.btn-slider {
    -webkit-border-radius: 20;
    -moz-border-radius: 20;
    border-radius: 20px;
    padding: 5px 10px;
    font-size: 0.8em;
    line-height: 1.5;
    display: inline-block;
    padding: 6px 12px;
    margin-bottom: 0;
    font-weight: 400;
    text-align: center;
    white-space: nowrap;
    vertical-align: middle;
    background-color: gray;
    color: white;
}

.slider-container {
    width: 8em;
}
